@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  color: #111111;
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #a1d6ff;
}

* {
  font-family: "Roboto Slab", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  filter: brightness(0.9);
}

.server-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.server-status__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.server-status__item-name {
  display: flex;
  align-items: center;
}
.server-status__item-name::before {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background: url(../assets/indicator-blue.svg) center no-repeat;
  background-size: 12px;
}
.server-status__total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.server-status__total::after, .server-status__total::before {
  content: "";
  display: block;
  height: 16px;
  background: url(../assets/top-fraame.svg) center no-repeat;
  background-size: 100%;
}
.server-status__total::after {
  transform: rotate(180deg);
}
.server-status__total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}
.server-status__total-item-text {
  display: flex;
  align-items: center;
  gap: 2px;
}
.server-status__total-item-text::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../assets/indicator-green.svg) center no-repeat;
  background-size: 100%;
}
.server-status__total-item-text_active::before {
  background-image: url(../assets/indicator-black.svg);
}

.servers-list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}
.servers-list__item {
  margin: 0 0 10px;
}
.servers-list__item::before, .servers-list__item::after {
  content: "";
  display: block;
  height: 8px;
  background: url(../assets/frame-list.svg) center no-repeat;
  background-size: 90%;
}
.servers-list__item::before {
  margin: 0 0 10px;
}
.servers-list__item::after {
  display: none;
  margin: 10px 0 0;
}
.servers-list__item:last-child::after {
  display: block;
}
.servers-list__item-time, .servers-list__item-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
}
.servers-list__item-time {
  color: #ffffff;
}
.servers-list__item-counter {
  color: #ffe49a;
  font-size: 11px;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
  width: 100%;
  aspect-ratio: 4.8/1;
  margin: 0 auto;
  padding-bottom: 2px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: url(../assets/frame-bg.svg) center no-repeat;
  background-size: 100%;
}

.app-content {
  position: relative;
  z-index: 2;
  padding: 200px 129px;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  background: url(../assets/bg.jpg) center top -120px, url(../assets/bg2.jpg) center top 788px;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  height: 50px;
  margin: 0 -10px;
  box-sizing: border-box;
  background: linear-gradient(270deg, #0d1119 0%, #192948 9.58%, #171f31 71.29%, #0d1119 94.05%);
}
.header::before, .header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 50px;
  height: 100%;
  background: url(../assets/header-wing.svg) top center no-repeat;
  background-size: 100%;
}
.header::before {
  left: 10px;
}
.header::after {
  right: 10px;
  transform: scale(-1, 1);
}
.header__nav {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 100%;
  padding: 0 50px;
}
.header__nav-link {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  transition: all ease-in-out 0.15s;
}
.header__nav-link:hover {
  color: #d1e4ff;
}
.header__nav-link_active {
  color: #0066ff;
}
.header__nav-link_active:hover {
  color: #3787ff;
}
.header__nav-divider {
  flex: 0 0 auto;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../assets/crystal.svg) center no-repeat;
  background-size: 100%;
}
.header__top, .header__bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.header__top::after, .header__bottom::after {
  content: "";
  display: block;
  height: 6px;
  background: radial-gradient(85.28% 85.28% at 89.02% 25.91%, #916619 0%, rgba(255, 197, 93, 0) 100%), linear-gradient(180deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
}
.header__top {
  top: -6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header__top::before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(0deg, #d9b75b 0%, #d9b75b 100%), linear-gradient(90deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
}
.header__bottom {
  bottom: -3px;
}
.header__angels {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1164px;
  transform: translateX(-50%) translateY(-50%);
}
.header__angels::before, .header__angels::after {
  content: "";
  display: block;
  height: 100px;
  aspect-ratio: 1.2911/1;
  background: url(../assets/angel.svg) center no-repeat;
  background-size: 100%;
}
.header__angels::after {
  transform: scale(-1, 1);
}

.main {
  display: flex;
  min-height: 920px;
}

.footer {
  position: relative;
  z-index: 5;
  aspect-ratio: 7.5711/1;
  background: url(../assets/footer-wing-left.svg) top left, url(../assets/footer-wing-right.svg) top right;
  background-repeat: no-repeat;
  background-color: #051524;
  background-size: 120px;
}
.footer::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  display: block;
  width: 1054px;
  aspect-ratio: 5.1275/1;
  background: url(../assets/footer.svg) center no-repeat;
  background-size: 100%;
  transform: translateX(-50%);
}
.footer__crystals {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1054px;
  transform: translateX(-50%) translateY(-50%);
}
.footer__crystals::before, .footer__crystals::after {
  content: "";
  display: block;
  width: 257px;
  aspect-ratio: 6.1/1;
  background: url(../assets/footer-crystals.svg) center no-repeat;
  background-size: 100%;
}
.footer__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 36px;
  height: 100%;
  padding: 12px 32px;
  box-sizing: border-box;
}
.footer__logo {
  flex: 0 0 auto;
}
.footer__logo-link {
  display: block;
}
.footer__logo-image {
  display: block;
  max-width: 100%;
  width: 172px;
  height: auto;
}
.footer__buttons {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 3px;
}
.footer__buttons-discord {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../assets/discord.svg) center no-repeat;
  background-size: 100%;
}
.footer__buttons .button {
  width: 220px;
}
.footer__text {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #808ca4;
  text-align: justify;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.footer__text > * {
  margin: 0;
}
.footer__conditions {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase;
}
.footer__conditions-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #808ca4;
  transition: all ease-in-out 0.15s;
}
.footer__conditions-link:hover {
  color: #ffffff;
}
.footer__conditions-link::after {
  content: "|";
  display: inline-block;
  color: #808ca4 !important;
}
.footer__conditions-link:last-child::after {
  display: none;
}

.sidebar {
  position: relative;
  flex: 0 0 224px;
  background-color: #051524;
}
.sidebar__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 8px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar__borders {
  position: absolute;
  top: 0;
  left: -7px;
  right: -7px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__border {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 100%;
}
.sidebar__border-line {
  display: inline-block;
  height: 100%;
  width: 6px;
  border-radius: 0.367px;
  background: radial-gradient(85.28% 85.28% at 89.02% 25.91%, #916619 0%, rgba(255, 197, 93, 0) 100%), linear-gradient(90deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
}
.sidebar__border::before, .sidebar__border::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  border-radius: 0.367px;
  background: linear-gradient(0deg, #d9b75b 0%, #d9b75b 100%), linear-gradient(90deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
}
.sidebar__time {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 20px 8px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.sidebar__time-divider {
  flex: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__time-block {
  flex: 1 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  letter-spacing: -1px;
  border-radius: 2px;
  background: #12395d;
}
.sidebar__lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 0;
}
.sidebar__lang-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 9px;
  border: none;
  background: url(../assets/button-crystal.svg) center no-repeat;
  background-size: 52px;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.sidebar__lang-button:hover {
  filter: brightness(1.1);
}
.sidebar__lang-button:active {
  filter: brightness(0.9);
}
.sidebar__lang-button_active {
  background-image: url(../assets/button-crystal-active.svg);
}
.sidebar__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__form-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  border: none;
}
.sidebar__form-fieldset_buttons {
  margin-top: 18px;
}
.sidebar__form-fieldset_buttons::before {
  content: "";
  display: block;
  height: 9px;
  width: 100%;
  background: url(../assets/frame-list.svg) center no-repeat;
  background-size: 90%;
}
.sidebar__form-input {
  position: relative;
  display: flex;
  padding: 4px 20px;
  width: 184px;
  box-sizing: border-box;
  aspect-ratio: 6.6/1;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: url(../assets/input-crystal.svg) center left;
  background-repeat: no-repeat;
  background-size: 100%;
  outline: none;
}
.sidebar__form-input::-ms-input-placeholder {
  color: #ffffff;
}
.sidebar__form-input::placeholder {
  color: #ffffff;
}
.sidebar__auth-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 0 18px;
}
.sidebar__auth-links-link {
  color: #ffe49a;
}
.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 0;
}
.sidebar__info-server {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar__info-server-text {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffffff;
}
.sidebar__info-server-text::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: url(../assets/indicator-green.svg) center no-repeat;
  background-size: 100%;
}
.sidebar__info-server-value {
  color: #90ff12;
}
.sidebar__info-button {
  display: block;
  max-width: 208px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  aspect-ratio: 6.4/1;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  text-transform: uppercase;
  border: none;
  background: url(../assets/button-crystal-bg.svg) center no-repeat;
  background-size: 100%;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.sidebar__info-button:hover {
  filter: brightness(1.1);
}
.sidebar__info-button:active {
  filter: brightness(0.9);
}
.sidebar__files {
  text-align: center;
}
.sidebar__files a {
  display: inline-block;
  max-width: 112px;
  color: #ffe49a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-content {
  flex: 1 1 auto;
  padding: 25px;
  background: url(../assets/content-wing-left.svg) top left, url(../assets/content-wing-right.svg) top right;
  background-repeat: no-repeat;
  background-color: #fef6e6;
  background-size: 64px;
}
.main-content__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 0 0 20px;
  background-color: #d6ccb4;
}
.main-content__heading-title {
  margin: 0;
  color: #000;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-content__heading-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #531010;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-content__heading-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/plus-icon.svg) center no-repeat;
  background-size: 16px;
}
.main-content__article {
  padding: 16px 12px;
  background-color: #ffffff;
}
.main-content__article-title {
  max-width: 340px;
  margin: 0 0 20px;
  color: #051524;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-content__article-paragraph {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-content__article-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 17px 0 0;
}
.main-content__article-bottom-tags {
  color: #f00;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-content__article-bottom-comment-btn {
  padding: none;
  color: #f00;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
  cursor: pointer;
}
.main-content__comment {
  margin: 20px 0 0;
}
.main-content__comment-textarea {
  display: block;
  height: 90px !important;
  width: 100% !important;
  padding: 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
  border: none;
  background-color: #ffffff;
}
.main-content__comment-buttons {
  display: flex;
  align-items: center;
}
.main-content__comment-button {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.main-content__comment-button_save {
  background: #14731d;
}
.main-content__comment-button_save:hover {
  background: #105b17;
}
.main-content__comment-button_preview {
  background: #989898;
}
.main-content__comment-button_preview:hover {
  background: #7b7b7b;
}