.sidebar {
  position: relative;
  flex: 0 0 224px;
  background-color: #051524;

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 8px;
    margin: 0 auto;
    color: $white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__borders {
    position: absolute;
    top: 0;
    left: -7px;
    right: -7px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__border {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 100%;

    &-line {
      display: inline-block;
      height: 100%;
      width: 6px;
      border-radius: 0.367px;
      background: radial-gradient(
          85.28% 85.28% at 89.02% 25.91%,
          #916619 0%,
          rgba(255, 197, 93, 0) 100%
        ),
        linear-gradient(90deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      border-radius: 0.367px;
      background: linear-gradient(0deg, #d9b75b 0%, #d9b75b 100%),
        linear-gradient(90deg, #a67f31 0%, #e6d375 48.9%, #261600 51.45%, #5b4905 100%);
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 20px 8px;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

    &-divider {
      flex: 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-block {
      flex: 1 1 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 0;
      letter-spacing: -1px;
      border-radius: 2px;
      background: #12395d;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 0;

    &-button {
      display: inline-block;
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 0;
      color: $white;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 9px;
      border: none;
      background: url(../assets/button-crystal.svg) center no-repeat;
      background-size: 52px;
      transition: $baseTransition;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.9);
      }

      &_active {
        background-image: url(../assets/button-crystal-active.svg);
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 0;
      padding: 0;
      border: none;

      &_buttons {
        margin-top: 18px;

        &::before {
          content: "";
          display: block;
          height: 9px;
          width: 100%;
          background: url(../assets/frame-list.svg) center no-repeat;
          background-size: 90%;
        }
      }
    }

    &-input {
      position: relative;
      display: flex;
      padding: 4px 20px;
      width: 184px;
      box-sizing: border-box;
      aspect-ratio: 6.6 / 1;
      color: #ffffff;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px;
      text-transform: uppercase;
      text-align: center;
      border: none;
      background: url(../assets/input-crystal.svg) center left;
      background-repeat: no-repeat;
      background-size: 100%;
      outline: none;

      &::placeholder {
        color: #ffffff;
      }
    }
  }

  &__auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 0 18px;

    &-link {
      color: #ffe49a;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 0;

    &-server {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 0 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &-text {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #ffffff;

        &::before {
          content: "";
          display: block;
          height: 20px;
          width: 20px;
          background: url(../assets/indicator-green.svg) center no-repeat;
          background-size: 100%;
        }
      }

      &-value {
        color: #90ff12;
      }
    }

    &-button {
      display: block;
      max-width: 208px;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      aspect-ratio: 6.4 / 1;
      color: #fff;
      text-align: center;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 10px;
      text-transform: uppercase;
      border: none;
      background: url(../assets/button-crystal-bg.svg) center no-repeat;
      background-size: 100%;
      transition: $baseTransition;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.9);
      }
    }
  }

  &__files {
    text-align: center;

    & a {
      display: inline-block;
      max-width: 112px;
      color: #ffe49a;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
