.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
  width: 100%;
  aspect-ratio: 4.8 / 1;
  margin: 0 auto;
  padding-bottom: 2px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: url(../assets/frame-bg.svg) center no-repeat;
  background-size: 100%;
}
