.servers-list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;

  &__item {
    margin: 0 0 10px;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 8px;
      background: url(../assets/frame-list.svg) center no-repeat;
      background-size: 90%;
    }

    &::before {
      margin: 0 0 10px;
    }

    &::after {
      display: none;
      margin: 10px 0 0;
    }

    &:last-child::after {
      display: block;
    }

    &-time,
    &-counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 0 20px;
    }

    &-time {
      color: #ffffff;
    }

    &-counter {
      color: #ffe49a;
      font-size: 11px;
    }
  }
}
